* {
	box-sizing: border-box;
}

body {
	margin: 0;

	/* prettier and stylelint keep fighting over how this should be formatted. let prettier win. */
	/* stylelint-disable value-list-comma-newline-after -- prettier vs stylelint */
	/* stylelint-disable-next-line declaration-colon-newline-after -- prettier vs stylelint */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	/* stylelint-enable value-list-comma-newline-after */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f8f8f8;
}
