/* Mobile by default */
.detail-container {
  order: 1;
  width: 22rem;
  margin: auto;
  padding: 0 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Desktop */
@media (min-width: 600px) {
  .detail-container {
    order: 10;
    width: 30rem;
    margin-left: 32px;
  }
}

.row {
  display: flex;
  margin: 16px 0;
}

.row-title {
  width: 8rem;
  flex-shrink: 0;
  font-weight: bold;
}

.row-body {
  font-weight: bold;
}

.product-image {
  max-width: 100%;
}

.subtle {
  font-weight: 200;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
  visibility: hidden;
}
